<p class="review-disclaimer" style="color: #666; margin-bottom: 1rem;">{{ 'setono_sylius_review.ui.disclaimer'|trans }}</p>

<button type="submit" class="ui primary button large">
    {{ 'setono_sylius_review.ui.submit_reviews'|trans }}
</button>
