<h1 class="ui header">
    {{ 'setono_sylius_review.ui.review_your_order'|trans }}
    <div class="sub header" style="color: #999;">{{ 'sylius.ui.order'|trans }} #{{ order.number }}</div>
</h1>

<p style="color: #666; margin-bottom: 2rem;">{{ 'setono_sylius_review.ui.introduction'|trans }}</p>
