{% extends '@SyliusShop/layout.html.twig' %}

{% block top %}{% endblock %}
{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/setonosyliusreviewplugin/css/review.css') }}">
{% endblock %}

{% block content %}
<div class="ui container" style="margin-top: 3rem; margin-bottom: 3rem;">
    {% include '@SetonoSyliusReviewPlugin/shop/review/_header.html.twig' %}

    {% if not reviewableCheck.reviewable %}
        {% include '@SetonoSyliusReviewPlugin/shop/review/_not_reviewable.html.twig' %}
    {% else %}
        {% form_theme form '@SyliusShop/Form/theme.html.twig' %}
        {{ form_start(form) }}
        {% include '@SetonoSyliusReviewPlugin/shop/review/_errors.html.twig' %}
        {% include '@SetonoSyliusReviewPlugin/shop/review/_display_name.html.twig' %}
        {% include '@SetonoSyliusReviewPlugin/shop/review/_store_review.html.twig' %}
        {% include '@SetonoSyliusReviewPlugin/shop/review/_product_reviews.html.twig' %}
        {% include '@SetonoSyliusReviewPlugin/shop/review/_footer.html.twig' %}
        {{ form_end(form) }}
    {% endif %}
</div>
{% endblock %}
