{% extends '@SyliusShop/layout.html.twig' %}

{% block top %}{% endblock %}
{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('.star.rating').each(function () {
                const $star = $(this);
                const targetId = $star.data('rating-target');
                const $target = $('#' + targetId);
                const commentTargetId = $star.data('comment-target');
                const $commentWrapper = commentTargetId ? $('#' + commentTargetId) : null;

                function onRate(value) {
                    $target.find('input[type="radio"]:checked').prop('checked', false);
                    if (value > 0) {
                        $target.find('input[type="radio"][value="' + value + '"]').prop('checked', true);
                    }

                    if ($commentWrapper) {
                        if (value > 0) {
                            $commentWrapper.show();
                        } else {
                            $commentWrapper.hide();
                            $commentWrapper.find('textarea').val('');
                        }
                    }
                }

                $star.rating('setting', 'onRate', onRate);
                $star.rating('setting', 'clearable', true);

                // Show comment field for pre-existing ratings
                const initialRating = parseInt($star.data('rating'), 10) || 0;
                if ($commentWrapper && initialRating > 0) {
                    $commentWrapper.show();
                }
            });
        });
    </script>
{% endblock %}

{% block content %}
<div class="ui container" style="margin-top: 3rem; margin-bottom: 3rem;">
    {% include '@SetonoSyliusReviewPlugin/shop/review/_header.html.twig' %}

    {% if not reviewableCheck.reviewable %}
        {% include '@SetonoSyliusReviewPlugin/shop/review/_not_reviewable.html.twig' %}
    {% else %}
        {% form_theme form '@SyliusShop/Form/theme.html.twig' %}
        {{ form_start(form, {'attr': {'class': 'ui form'}}) }}
        {% include '@SetonoSyliusReviewPlugin/shop/review/_errors.html.twig' %}
        {% include '@SetonoSyliusReviewPlugin/shop/review/_display_name.html.twig' %}
        {% include '@SetonoSyliusReviewPlugin/shop/review/_store_review.html.twig' %}
        {% include '@SetonoSyliusReviewPlugin/shop/review/_product_reviews.html.twig' %}
        {% include '@SetonoSyliusReviewPlugin/shop/review/_footer.html.twig' %}
        {{ form_end(form) }}
    {% endif %}
</div>
{% endblock %}
